<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-4">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6 col-md-8">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble fa-lg"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
    <div class="header-middle"><!--header-middle-->
			<div class="container-fluid">
				<div class="row row1">
					<div class="col-md-2 ">
						<div class="logo pull-left">
                            <a href="#"><img src="images/home/logo.png" alt="" /></a>
						</div>
                    </div>
                        <div class="search-bar col-md-8">
                    <div class="row">
                        <input class="search-bar-input col-md-11" type="" placeholder="Search for Products...." name="">
                        <button class="search-bar-button col-md-1">
                            <span class=" glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
					
                </div><!-- end of row 1 -->
                    <div class="row row2">
                        <div class="col-md-6">
                        
                        </div>
					<div class="col-md-6">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
                                <!--<li><a href="/about"><i class="fa fa-user"></i> About</a></li>-->
								<li><a href="/about"><i class="fa fa-user"></i> Account</a></li>
								<li><a href="#"><i class="fa fa-star"></i> Wishlist</a></li>
								<li><a href=""><i class="fa fa-crosshairs"></i> Checkout</a></li>
								<li><a href=""><i class="fa fa-shopping-cart"></i> Cart</a></li>
								<li><a href="#"><i class="fa fa-lock"></i> Login</a></li>
							</ul>
                            </div>
						</div>
					</div>
				</div>
			</div>
<!--		</div>/header-middle-->
    
    <div class="site-branding-area">
        <div class="well">
            <div class="row">
               
                <p align="center"> site branding area tell some name.......!</p>
            </div>
        </div>
    </div> <!-- End site branding area -->
    
   

</header>