  <div class="site-branding-area">
        <div class="well">
            <div class="row">
               
                <p align="center"> site branding area tell some name.......!</p>
            </div>
        </div>
    </div> <!-- End site branding area -->