<h1 align="center">your account</h1>

<div class="promo-area">
    <div class="container">
        <div class="row">
                <div class="col-md-3 col-sm-6" id="box" >
                    
                        <span style="color:blue;"> <i class="fa fa-refresh fa-3x"></i>
                        <p> Returns</p></span>
            </div>
                    <div class="col-md-9 col-sm-6" id="links">   
                    <ul>
                        <li><a href="#">Return or Replaced items</a></li>
                          <li><a href="#">Leave seller feedback</a></li>
                        </ul>
                </div>
    </div>
</div>
        <div class="container">
        <div class="row">
                <div class="col-md-3 col-sm-6" id="box">

                   <span style="color:red;"><i class="fa fa-lock fa-3x"></i></span>
                        <p>Payments</p>
                   
                    </div>
            
                    <div class="col-md-9 col-sm-6" id="links">
                    <ul>
                          <li><a href="#">Add a Credit or Debit card</a></li>
                        <li><a href="#">Edit payment method</a></li>
                        <li><a href="#">Manage Bank Accounts for Refunds</a></li>
                        
                        </ul>
                    </div>
                </div>
    </div>
    <div class="container">
        <div class="row">
                <div class="col-md-3 col-sm-6" id="box">
               
                   <span style="color:yellow;"><i class="fa fa-truck fa-3x"></i></span>
                        <p>Shipping</p>
                    
                    </div>
                    <div class="col-md-9 col-sm-6" id="links">
                    <ul>
                          <li><a href="#">View Orders</a></li>
                        <li><a href="#">Track your orders</a></li>
                        <li><a href="#">Cancel Orders</a></li>
                        
                        </ul>
                    </div>
                </div>
    </div>
  
    
<!-- end of complete division--></div>
    
    
    
    
   