<div class="container">
<h2 align="center">Cart items</h2>
    <div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="panel panel-primary">
  <div class="panel-heading">
            <div class="row">
      <div class="col-md-6">
                <h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping cart</h5>
                </div>
                 <div class="col-md-4 pull-right">
               <a href="/"></a> <button type="button" class="btn btn-default btn-sm btn-block">
									<span class="glyphicon glyphicon-share-alt"></span> Continue shopping
								</button>
                </div>
      </div>
            </div>
        </div>
        <div class="panel-body">
   <div class="row">
       {{#each cartProducts}}
            <div class="col-md-2"><!-- image div -->
       <img src="{{this.url}}" id="images" alt="No picture available">
       </div>
       <div class="col-md-4"><!-- product details-->
       <h4><span style="text-transform: none;">{{this.title}}</span></h4>
       </div>
       <div class="col-md-6">
       <div class="col-md-6 text-right">
								<h6><strong>Rs.{{this.price}} <span class="text-muted">x</span></strong></h6>
							</div>
							<div class="col-md-4">
								<input type="text" class="form-control input-sm" value="1">
							</div>
							<div class="col-md-2">
								<button type="button" class="btn btn-link btn-xs">
									<span class="glyphicon glyphicon-trash"> </span>
								</button>
       </div>
            </div>
  </div>
            {{/each}}
    </div>
        	<div class="panel-footer">
					<div class="row text-center">
						<div class="col-xs-9">
							<h4 class="text-right">Total <strong>Rs.234</strong></h4>
						</div>
						<div class="col-xs-3">
							<button type="button" class="btn btn-success btn-block" onclick="location.href='/order'">
								Checkout
							</button>
						</div>
					</div>
				</div>
</div>
        
    <!-- dummy -->    
      
        
    <!--    
        
         <div class="container">
       <div class="col-xs-12 col-sm-8 col-lg-9">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="step active">
                        <div class="panel panel-primary">
                        <div class="panel-heading">
                        <span class="glyphicon glyphicon-home"></span> 
                        Adress
                           
                        <div class="hidden-xs caret right"></div>
                        <div class="visible-xs caret bottom"></div>
                            </div>                                

                    </div> 
                        </div>
                </div>column ending
        
                <div class="col-xs-12 col-sm-4">
                    <div class="step">
                            <span class="glyphicon glyphicon-usd"></span> 
                            Bezahlen
                            <div class="hidden-xs caret right"></div>
                        <div class="visible-xs caret bottom"></div>
                    </div>
                </div>
            
                <div class="col-xs-12 col-sm-4">
                    <div class="step">
                        <span class="glyphicon glyphicon-ok"></span> 
                        Bestätigen 
                        <div class="hidden-xs caret right"></div>
                    </div>
                </div>
            </div>            
        </div>

</div>-->