
<div class="container">
<h1>{{title}}</h1>
<p>Welcome to online shopping experience</p>
</div>

<!--loop through all products-->
<div class="wrapper">
{{# each products }}

<div class="row" >
    {{#each this}}
  <div class="col-sm-6 col-md-4" >
    
    <div  class="product-menu" >
     
      <div class="product-child">
           <img src="{{this.url}}" id="images" alt="No picture available">
        
          <a href="#"><i class="fa fa-eye" aria-hidden="true"></i>Quick View</a>
        <h4><span style="text-transform: none;">{{this.title}}</span></h4>
       <!-- <p class="description">..........</p>-->
          <div class="clearfix">
              <p><span style=" font-weight: 700;">Rs.{{this.price}}</span></p>
              
              <!--<a href="/checkout" class="btn btn-success pull-right" role="button"><i class="fa fa-shopping-cart pull-left" aria-hidden="true">Add to cart</i></a>-->
     </div>
          </div>
    </div>
       
  </div>
    
    {{/each}}
</div>
    
{{/each}}
</div>
