<div class="container">
<section class="header_text sub">
			<img class="pageBanner" src="/images/backg2.png" alt="New products" >
				<h3 align="center"><span>Check Out</span></h3>
			</section>
    <section class="main-content">
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
        <span style="color: #D43653 ;">
      <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        CheckOut Options</a>
      </h4>
            </span>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
         <div class="row">
             <div class="col-md-6 col-sm-6">
<!--<div class="span6">-->
<h4>New Customer</h4>
<p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
                 <!-- new customer -->
  <div class="form-group">
      <form name="checkoutOptions" action="#" method="post">
                <input type="radio" id="register" name="register" />
      <label for="register">Register Account</label><br/>
        <input type="radio" id="guest" name="guest"  />
      <label for="register">Guest checkout</label><br/>
          <!--<button class="btn btn-primary" role="button">Continue</button>-->
          	<button class="btn btn-inverse" data-toggle="collapse" data-parent="#collapse2">Continue</button>
          </form>
                 </div>
	</div>
             <!-- end of new customer -->
                             <div class="customer"> 
             <div class="col-md-6 col-sm-6">

                 <h4>Returning Customer</h4>
                 <p>I am a returning customer</p>
             <div class="form-group">
      <form name="returningCustomer" action="#" method="post">
          UserName<br/>
        <input type="text" id="userName" name="userName" class="form-control" placeholder="Enter Username"
               style="width: 300px; padding: 2px; border:1px solid black;" />
      <br/>
           Password<br/>
                <input type="text" id="password" name="password" class="form-control" placeholder="Enter Password" style="width: 300px; padding: 2px; border:1px solid black;"/>
      <br/>
      
          <!--<button class="btn btn-primary" role="button">Continue</button>-->
          	<button type="submit" class="btn btn-inverse" data-toggle="#accordion" data-parent="#collapse2">Continue</button>
          </form>
                 </div>
             </div>
                 </div>
        </div>
    </div>
  </div>
      <!-- end of one accordion -->
      
  <div class="panel panel-default">
    <div class="panel-heading">
         <span style="color: #D43653 ;">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Account & Shipping Details</a>
      </h4>
        </span>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
           <form class="form-horizontal">
          	<div class="row-fluid">
		<div class="col-md-6 col-sm-6">									
<h4>Your Personal Details</h4>
 
    <label class="control-label">First Name</label><br/>

<input type="text" placeholder="" class="form-control" style="width:300px;"><br/>
<label class="control-label">Last Name</label><br/>
													
<input type="text" placeholder="" class="form-control" style="width:300px;"><br/>			  
<label class="control-label">Email Address</label><br/>
<input type="text" placeholder="" class="form-control" style="width:300px;"><br/>
<label class="control-label">Telephone</label><br/>
                 <input type="text" placeholder="" class="form-control" style="width:300px;"><br/>
													<label class="control-label">Fax</label><br/>
									<input type="text" placeholder="" class="form-control" style="width:300px;"><br/>
				
					</div>
                <!--end of one column-->
                <div class="col-md-6 col-sm-6">
                		<h4>Your Address</h4>
<label class="control-label">Company</label><br/>
<input type="text" placeholder="" class="form-control" style="width:300px;"><br/>
	<label class="control-label">Company ID:</label><br/>
<input type="text" placeholder="" class="form-control" style="width:300px;"><br/>
<label class="control-label"><span class="required">*</span> Address 1:</label><br/>
<input type="text" placeholder="" class="form-control" style="width:300px;"><br/>
<label class="control-label">Address 2:</label><br/>
<input type="text" placeholder="" class="form-control" style="width:300px;"><br/>

  <!-- <label class="control-label"><span class="required">*</span> Country:</label><br/>-->
                    <div class="dropdown">
					
						<label for="entercountry"><span class="required">*</span>Country</label>
						<select Name="Country" id="country" class="form-control"  onchange="cityChange(this);">
						<option value="empty">Select Country</option>
								<option value="India">India</option>
								<option value="Germany">Germany</option>
								<option value="Italy">Italy</option>
								<option value="France">France</option>
								<option value="Iceland">Iceland</option>
						</select>
                        <label for="entercity"><span class="required">*</span>Region/state</label>
						<select name="City" id="City" class="form-control">
								<span style="display: block; width: 5em;">
								<option value="0">Select Region</option>
									<!-- <option value="Hyderabad">Hyderabad</option>
									<option value="Basel">Basel</option>
									<option value="Rome">Rome</option>
									<option value="Paris">Paris</option>
									<option value="Akranes">Akranes</option> -->
							</span>
						</select>
					
				</div>
                    <label class="control-label"><span class="required">*</span> City:</label><br/>
<input type="text" placeholder="" class="form-control" style="width:300px;"><br/>
                    <label class="control-label"><span class="required">*</span> Post Code:</label><br/>
<input type="text" placeholder="" class="form-control" style="width:300px;"><br/>	
                    <button type="submit" class="btn btn-inverse" data-toggle="#accordion" data-parent="#collapse3">Continue</button>
                </div>
          </div>
          </form>	
        </div><!--panel body-->
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
         <span style="color: #D43653 ;">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Payment Method</a>
      </h4>
        </span>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
    
          
              <input type="radio"  name="payment" value="1" onclick="toggleVisibility(document.getElementById('info1'),document.getElementById('info2'))">
              <label for="cod">Cash On Delivery(COD)</label>
          <div class="alert alert-info" id="info1" style="visibility: hidden;">
   <strong>Success!</strong> you have selected cash on delivery option
</div>
              
     <input type="radio"  name="payment" value="2" onclick="toggleVisibility(document.getElementById('info2'),document.getElementById('info1'))">
              <label for="cod">Credit/Debit</label>
          <div class="alert alert-error" id="info2" style="visibility: hidden;">
   <strong>Success!</strong> you have selected Card payment option
             
    <div class="row">
        <!-- You can make it whatever width you want. I'm making it full width
             on <= small devices and 4/12 page width on >= medium devices -->
        <div class="col-xs-12 col-md-4">
        
        
            <!-- CREDIT CARD FORM STARTS HERE -->
            <div class="panel panel-default credit-card-box">
                <div class="panel-heading display-table" >
                    <div class="row display-tr" >
                        <h3 class="panel-title display-td" >Payment Details</h3>
                        <div class="display-td" >                            
                            <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                        </div>
                    </div>                    
                </div>
                <div class="panel-body">
                    <form role="form" id="payment-form" method="POST" action="javascript:void(0);">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cardNumber">CARD NUMBER</label>
                                    <div class="input-group">
                                        <input 
                                            type="tel"
                                            class="form-control"
                                            name="cardNumber"
                                            placeholder="Valid Card Number"
                                            autocomplete="cc-number"
                                            required autofocus 
                                        />
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    </div>
                                </div>                            
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 col-md-7">
                                <div class="form-group">
                                    <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                                    <input 
                                        type="tel" 
                                        class="form-control" 
                                        name="cardExpiry"
                                        placeholder="MM / YY"
                                        autocomplete="cc-exp"
                                        required 
                                    />
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5 pull-right">
                                <div class="form-group">
                                    <label for="cardCVC">CV CODE</label>
                                    <input 
                                        type="tel" 
                                        class="form-control"
                                        name="cardCVC"
                                        placeholder="CVC"
                                        autocomplete="cc-csc"
                                        required
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="couponCode">COUPON CODE</label>
                                    <input type="text" class="form-control" name="couponCode" />
                                </div>
                            </div>                        
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="subscribe btn btn-success btn-lg btn-block" type="button">Make Payment</button>
                            </div>
                        </div>
                        <div class="row" style="display:none;">
                            <div class="col-xs-12">
                                <p class="payment-errors"></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>            
</div>        
        
        </div>
    </div>

</div>
      <button class="btn btn-success" type="submit" onclick="location.href='/tq'">continue</button>
      </div>
      
      </div></div>
      </div>
      
  