<div class="container">
<span style="align:center; color:red;"><i class="fa fa-smile-o fa-4x" aria-hidden="true"></i></span>
    <h1 align="center">Thank you<br/>
    Your order has succesfully placed....!!
    </h1>
</div>